 .custom-projects-card-body {
    padding: 20px;
    /* Need consisent shape for cards */
    min-height: 20em; 
    max-height: 22em; 
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: flex-start; 
    overflow: hidden;
    box-sizing: border-box; /* Padding doesn't add to the size */
    
  }
  
.custom-projects-card-text {
    flex-grow: 1; /* Push the description to take up available space */
    margin-bottom: 10px; 
    text-align: left; 
}
  
.custom-projects-card-title,
.custom-projects-card-subtitle {
  text-align: left; 
}
  
.custom-projects-card {
  border-radius: 12px;
  background-color: #fff; 
  transition: transform 0.3s ease;
}

.custom-projects-card:hover {
  transform: scale(1.02); /* Subtle zoom effect */
}

.custom-projects-card-img-top {
  border-radius: 12px 12px 0 0;
  height: 180px; 
  object-fit: cover; /* Keep image contained */
}
