.Projects {
    height:100vh;
    background-color: rgb(190, 185, 185);
}

.Projects_title {
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 0px;
    
}

div.Projects_title h1 {
    font-size: 2.8rem;
    color:rgb(40, 44, 52);
   
}


.Projects_list {
    padding-top: 0px;
    display: flex;
    justify-content:center;
    

}