.About {
    height:100vh;
    background-color: rgb(190, 185, 185);
}

.About_title {
    margin-left: 44%;
    padding-top: 56px;
    font-size: 25px;
    color:rgb(40, 44, 52);
}

.hr {

}

.About_container {
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.About_paragraph {
  
}
div.About_photo img {
    height:350px;
    width:350px;
}