.About { 
    height: 100%;
    background-color: rgb(39, 39, 42);
}

/* Title Styles */
.About_title {
    padding-top: 7rem;
    text-align: start;
    margin-left: 10%;
    margin-right: 10%; 
}

div.About_title h1 {
    font-size: 2.8rem;
    color: rgb(255, 255, 255);
}

/* Container Styles */
.About_container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
     margin-left: 10%;
    margin-right: 10%; 
    margin-top: 2%;
}

.About_paragraph {
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    word-wrap: break-word; /* Ensures text doesn't overflow */
}


@media (min-width: 768px) and (max-width: 1440px) {

    .About_paragraph {
        font-size: 30px;
    }

}


