.Contact {
  height:100vh;
}

.Contact_title {
  padding-top: 7rem;
  padding-bottom: 0px;
  margin-left: 10%;
  margin-right: 10%; 
}

div.Contact_title h1 {
  font-size: 2.8rem;
  color: rgb(39, 39, 42);
}

.Contact_email {
  margin-left: 10%;
  margin-right: 10%; 
  color: rgb(39, 39, 42);
  font-size: 1rem;
}

.custom-contact-card {
  margin-left: 10%;
  margin-right: 10%; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color:transparent;
  padding:50px;
}

input[type=submit] {
  background-color: rgb(46, 50, 58);
  color: white;
  height:3rem;
  width:10rem;
  border-radius: 4px;
  /* cursor: pointer; */
  margin-top:10px;
  margin-left:0px !important;
  padding:0px !important;
}

/* MEDIA QUERIES */
/* For phones (max width 767px) */
@media (max-width: 767px) {

  input[type="submit"] {
    width: 100%; 
    grid-column: 1; 
  }

}
