
/* Custom styles for the Nav Links */
.custom-nav-links-footer .nav-link {
  color: rgb(39, 39, 42) !important; /* Always black, overriding Bootstrap */
}

/* Individual Social Media Icons */
.fa {
  /* Use font size for icon size */
  color: rgb(39, 39, 42); /* Actual Icon color */
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

/* Responsive Styles for Mobile */
@media (max-width: 768px) {

 
}
