.header {
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(40, 44, 52);
   
    /* height: 70px; */
    margin-top: 0px;
    /* margin-left: 10px;
    margin-right: 10px; */
    /* border at bottom, like a flap when it scrolls */
    

    
}

.header_title {
    /*add logo and center logo to left of title*/
    display:flex;
    align-items:flex-end;
    color: rgb(190, 185, 185);
    margin-left: 10px;
}

.header_hrefs {
    display: flex;
    justify-content: flex-end;
    color:rgb(190, 185, 185);
  }
  
  .header_hrefs {
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    font-size: 20px;
    
  }

 div.header_hrefs a:visited {
    color:rgb(190, 185, 185);
  }

  div.header_hrefs  a:link {
    color:rgb(190, 185, 185);
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
  }

  div.header_hrefs  a:hover {
    color:rgb(190, 185, 185);
  }