/* Ensure reponsive containers */
.Intro {
    display: flex;
    flex-direction: column;
    flex-grow: 1;  /* Makes sure container fills up all the available space */
    height: 100%; 
    min-height: 100vh; /* Ensures the container always covers the full viewport height  */
}

.About {
    display: flex;
    flex-direction: column;
    flex-grow: 1;   
    height: 100%; 
    min-height: 100vh;
 }  

.Skills {
    display: flex;
    flex-direction: column;
    flex-grow: 1; 
    height: 100%; 
    min-height: 100vh; 
}

.Projects {
    display: flex;
    flex-direction: column;
    flex-grow: 1;  
    height: 100%; 
    min-height: 100vh;  
}

.Contact {
    display: flex;
    flex-direction: column;
     flex-grow: 1;  
    height: 100%; 
     min-height: 100vh; 
}

  /* Tablets */
@media (min-width: 768px) and (max-width: 1440px) {
    .Contact {
    min-height: 80vh;
    } 
  }