.Skills {
    height: 100%;
    padding-left: 9rem;
    padding-right: 9rem;
}

.Skills_title {
    text-align: start;
    padding-top: 7rem;
    margin-left: 10%;
    margin-right: 10%; 
}

div.Skills_title h1 {
    font-size: 2.8rem;
    color: rgb(39, 39, 42);
}

.Skills_list {
    margin-left: 10%;
    margin-right: 10%; 
    /* display: flex; */
    /* justify-content: left; */
    /* flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1; */
  
    
}

@media (max-width: 767px) {
    /* .Skills_list {
        display:grid;
        grid-template-columns: repeat(2, minmax(175px, 1fr)); */
        /* grid-template-columns: repeat(2, 1fr); */
        /* padding-left:0em;
        align-items: center;  */
    /* } */

    .Skills {
        padding:1em;
    }

    .Skills_title {
        padding-top: 40px;
        /* padding:0rem; */
        /* padding:1em; */
        padding-left:0em;
    }

    .Skills {
        /* width: 100%; */
    }
}
    @media (min-width: 768px) and (max-width: 1440px) { 
        /* .Skills_list {
            padding-left:0rem;
            margin-left: 10%;
            margin-right:10%;
        } */

        .Skills_title {
           
        }
    }
