.Skills {
    height:100vh;
}

.Skills_title {
    margin-left: 44%;
    padding-top: 56px;
    padding-bottom: 0px;
    
}

div.Skills_title h1 {
    font-size: 50px;
    color:rgb(190, 185, 185);
}

.Skills_list {
    padding-top: 0px;
    display: flex;
    justify-content:left;
    flex-wrap: wrap;

}