.SkillsCard {
    width: 11rem;
    height: 5rem;
    border: 0.2px solid #e5e7eb; 
    border-radius: 8px;
    margin-right: 30px;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color:transparent;
    position: relative !important;
    overflow: hidden;
  }
  
  .Skillscard-image {
    width: 40%;
    height: 40%;
    object-fit: cover;
    border-radius: 8px;
 
  }
  
  .Skillscard-title {
    margin-left: 20px; 
    font-size: 1.2rem;
    color:rgb(39, 39, 42);
    word-wrap:normal; /* Ensure that text wraps within the card */
    white-space: normal; /* Allow text to wrap */
    overflow: hidden; /* No overflow */
    text-overflow: ellipsis; /* Ellipsis if the text is too long */
  }
  