.Skills {
    height: 100%;
    padding-left: 9rem;
    padding-right: 9rem;
}

.Skills_title {
    text-align: start;
    padding-top: 7rem;
    margin-left: 10%;
    margin-right: 10%; 
}

div.Skills_title h1 {
    font-size: 2.8rem;
    color: rgb(39, 39, 42);
    
}

.Skills_list {
    margin-left: 10%;
    margin-right: 10%; 
    /* display: flex; */
    /* justify-content: left; */
    /* flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1; */
  
    
}

@media (max-width: 767px) {
    .Skills_list {
        padding-left:0rem;
        margin-left: 0%;
        margin-right:0%;
    }

    .Skills {
        padding:1em;
    }

    .Skills_title {
        padding-top: 40px;  
        margin-left: 0%;
        margin-right: 0%; 
    }
}
    @media (min-width: 768px) and (max-width: 1440px) { 
        .Skills_list {
            padding-left:0rem;
            margin-left: 0%;
            margin-right:0%;
        }

        .Skills_title {
            padding-left:0rem;
            margin-left: 0%;
            margin-right:0%;
        }
    }
